
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    color: white;
    background-image: linear-gradient(
90deg,
hsl(55deg 100% 50%) 0%,
hsl(40deg 100% 48%) 8%,
hsl(26deg 100% 45%) 17%,
hsl(11deg 100% 43%) 25%,
hsl(357deg 100% 40%) 33%,
hsl(342deg 100% 38%) 42%,
hsl(328deg 100% 35%) 50%,
hsl(313deg 100% 32%) 58%,
hsl(298deg 100% 30%) 67%,
hsl(284deg 100% 28%) 75%,
hsl(269deg 100% 25%) 83%,
hsl(255deg 100% 23%) 92%,
hsl(240deg 100% 20%) 100%
);
}

/* //app */
.app{
    width: 100%;
    height:100vh;
    
   
    
}

.app h1{
    text-transform: uppercase;
    text-shadow: 4px 4px 2px rgb(14, 2, 2);
    padding: 30px 0 0px;
    letter-spacing: 40px;
    /* text-decoration: underline solid rgba(243, 243, 243 ) 10px; */
    font-family: Impact;
    color: rgb(255, 255, 255);
    /* font-size: 3rem; */
    margin-left: 40px;
}

/* search box styling */
.search-box{
    margin: auto;
    width: fit-content;
    /* padding: 40px 0 50px; */
    position: relative;
    /* border: solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
}
.search-box div{
    padding: 5px;
}
.search-box i{
    display: none;
    position: absolute;
    font-size: 1.2rem;
    top: 55px;
    left: 30px;
    color: lightgrey;
}
#input{
    /* //replaced, A replaced element is a HTML element that is replaced by the content that it displays ,
    element=content,
    change happen in content as element */
    width:400px;
    /* height: 40px;; */
    border-radius: 20px;
    outline: none;
    font-size: 1.2rem;
    color: white;
     padding: 14px;
    background-color: rgba(23, 5, 88, 0.774);
    border: none;


    box-shadow: inset 0 0  2px 3px;
}
#input:focus{
    padding: 20px;
}
#input:focus + i{
    display: none;
}
#input::placeholder{
    text-align: center;
    color: lightgrey;
}
#input::-webkit-search-cancel-button{
    /* appearance: none; */
   color: aliceblue;
   background-color: aliceblue;
  /* width: 300px; */
}

/* Style the cancel button */
#input:-webkit-search-cancel-button {
    appearance: none;
    display: none;
    color: aliceblue;
    background-color: aliceblue;
  }
  
  #input:-ms-clear {
    display: none;
    color: aliceblue;
    background-color: aliceblue;
  }
  
  #input:-moz-cancel-button {
    appearance: none;
    display: none;
    color: aliceblue;
    background-color: aliceblue;
  }

  /* Customize the color of the cancel button */
#input::-webkit-search-decoration,
#input::-webkit-search-results-button,
#input::-webkit-search-results-decoration {
  color: rgb(255, 253, 253); /* Replace with the desired color */
}
  

#search-btn{
    width: 50%;
    height: 40px;
    padding:5px;
    color: white;
    background-color: rgba(5, 50, 88, 0.425);
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    /* box-shadow: inset 0  0 5px 5px  aqua;*/
  

    border-bottom: 5px solid white;
    border-right: 5px solid white;

}
#search-btn:hover{
    /* box-shadow:  0  0 5px 5px aqua; */
   border: none;
   border-top: 5px solid white;
   border-left: 5px solid white;
}
#search-btn:focus{
  /* color: rgb(255, 253, 253);
  background-color: rgb(10, 9, 9); */

}

/* weather display container */
#weather-container{
    width: 350px;
    height:350px;
    margin: 0 auto;
    text-shadow: 2px 0 10px black;
    box-shadow: inset  0 0 10px 10px rgba(39, 30, 30, 0.452);
    background-color: rgba(7, 6, 6, 0.219);;
    border-radius: 40px;
    padding: 20px 0;
   margin-block:40px;

    /*
     font-family: monospace;
    border:5px solid  white;

   
   
    box-shadow:  0 0 0px 2px   rgb(199, 199, 201) ,-10px 10px 0px 2px  rgb(172, 167, 167),
    -20px 20px 0px 2px  rgb(172, 167, 167);
    background-color: rgba(6, 54, 97, 0.315); */

    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    align-items: center;
   
}
#weather-container p:nth-child(1){
    font-size: 2rem;
    
}
#weather-container p:nth-child(2){
    font-size: 1rem;
    
}
#weather-container p:nth-child(3){
    font-size: 4rem;
    padding: 50px;

    
}
#weather-container p:nth-child(4){
    font-size: 1.3rem;
    font-family: monospace;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

#weather-not-found{
    width: 30px;
}
.bg-white{
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgba(13, 12, 95, 0.281);
    box-shadow: inset  0 0 3px 1px rgba(241, 236, 236);
   
}
#weather-icon{
    width: 30px;
    /* background-color: rgb(255, 255, 255); */
}


/* media queries */
@media screen  and (max-width:500px){
 
    .app h1{
        letter-spacing: 20px;
        
    }
    #input{
        width:300px;
    }
    #input:focus{
        padding: 15px ;
    }
    .weather-container{
        width: 300px;
        height: 350px;
    }
    
}


